<%- include('./partials/header') %>
<div class="container" style="padding: 2rem;text-align-last:left;background-color: rgb(255, 255, 255);">
    <h2 class="text-center">What is Hungry for Giving?</h2>
        <p>Hungry for Giving is an app that allows you to participate in share meals events. You can help people in need by signing up as an event host, volunteering or making donations. Sharing is caring, so join us to our anti-hunger movement.</p>
    <br>
    <h3>How Hungry for Giving helps hungry people?</h3>
        <p>We assist the host to plan a share meal event to help people in need in our community. When you sign up as a host you are going to fill out a form to plan the details of your event, including the food items that are going to be needed.  The  details of the event are going to be displayed for other helpers to join your event with donations and as volunteers. The volunteers are going to be able to sign up in your event details page. The food items you need for your event are going to be displayed as a list so the donations match the products that you need.</p>
</div>
<%- include('./partials/footer') %>
