<%- include('./partials/header') %>

<div class="container" style="padding: 2rem;text-align-last:left;background-color: rgb(255, 255, 255);">
    <% if (user) { %>
        <a class="btn btn-outline-primary" href="/events/new">Host an Event</a>
    <% } else { %>
        <a class="btn btn-outline-primary"" href="/auth/google">Host an Even</a>
    <% } %>
    
    <p>Help people in need. Connect with your community by hosting a share a meal event</p> 
    <a class="btn btn-outline-primary" href="/get-involved">Get Involved</a>
    <p>Be part of a share a meal event as a volunteer  or providing donations</p>
    
</div> 

<%- include('./partials/footer') %>

 