<%- include('../partials/header') %>

    <% if (user) { %>
        <div class="container" style="padding: 2rem;text-align-last:center;background-color: rgb(255, 255, 255);">
            <form method="POST" action='/events/<%= event._id %>/volunteer'>
                <h3>Please leve a message for the host of this event.</h3><br>
                <label>What would you like to say?</label><br><br>
                <input name="message" type="text"><br><br>
                <button type="submit" class="btn btn-outline-primary" ">Become a Volunteer</button>
            </form>
        </div> 
    <% } %>

<%- include('../partials/footer') %>

